* {
  margin:0 auto;
  padding: 2%;
}
h1{
  text-align: center;
}
form{
  max-width: 800px;
}
p{

  background-color: #146efd38;
  display: flex;
  position: relative;
  top: 12px;
  max-width: 500px;
  height: 125px;
  text-align: center;

}
span{
letter-spacing: 2.2px;
font-size: 24px;
}
#errase{
  position: relative;
      right: 12px;
      top: 2px;
      float: right;
      background-color: #b33434;

}
