
div.main_info{
  margin: 4%;
  margin-bottom: 12%

}
div.main_info div.wrap_page{
  margin-top: 7%;
}

div.label_info{
  border-radius: 17px;
    width: 21%;
    background: black;
    color: #fff;
    height: 130px;
    margin: -1%;
    margin-bottom: 37px;
    letter-spacing: 1px;
}
div.label_info h3{
  text-align: left;
    padding-top: 77px;
    margin: 7%;
  }
  div.map_and_location{
    padding-top: 127px;


  }
div.map_and_location section.info div.inf_bottom p{
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
    letter-spacing: 1px;
    margin: 2%;
  }
div.map_and_location section.info div.inf_bottom h2{
margin: 1%;



}
div.map_and_location section.info{
display: flex;
width: 86%;
float: right;
}
iframe{
  border-radius: 12%;
  margin-top: -80px;
}
section.info div.inf_bottom{
      margin-right: 76px;
}
